.container{
    margin:0 100px 0 100px;
    border-style: outset;
}
a:second{
    color:#31de7c;
}

body{
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
}
.top{
    background-image:url("coding4.png");
    background-size:cover;
    opacity:1;
    min-height: 300px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color:white;
    align-items: center;
}
.nav{
    list-style: none;
    background-color: #3f6e30;
    padding: 10px;
    text-align: right;  
}

.nav li{
    display: inline;
    padding-left:15px; 
}
.abt li{
    color: #09591c;

}
.nav a{
    position: relative;
    display: inline-block;
    text-decoration:none;
    padding: 5px;
    color: white; 
}
.big{
    min-height: 350px;
}
.one{
    float: left;
    width: 33.33%;
    height: 33.33%;
}
.two{
     float: left;
    width: 33.33%;
    height: 33.33%;
}
.three{
     float: left;
    width: 33.33%;
    height: 33.33%;
}
.about{
    padding: 40px;
    text-align: center;
    background-color:#829e88;
    /*min-height: 300px;*/
}
.skills{
    background-color:#fff;
    height: 450px;
}
.skills1{
    width: 40%;
     float: left;
    padding: 50px 0 50px 80px;   
}

.bars{
    float: left;
    padding: 30px 0 30px 200px;
}
.five1{
    width: 350px;
    height: 20px;
    background-color: grey;
}
.five{
    width: 300px;
    height: 20px;
    background-color: green;
    text-align: right;
    color: white;
}
.six1{
width:350px;
height: 20px;
background-color: grey;
}
.six{
  width: 300px;
    height: 20px;
    background-color: green;
    text-align: right;
    color: white;  
}
.seven1{
  width:350px;
  height: 20px;
  background-color: grey;  
}
.seven{
   width: 300px;
    height: 20px;
    background-color: green;
    text-align: right;
    color: white;    
}
.resume{
    text-align: center;
    min-height: 200px;
    background-color:#829e88;
    padding: 50px;
}
.resume h3{
    text-align: center;
}
.education{
    float: left;
    width: 50%;
    height: 50%;
}
.education2{
    float: left;
    width: 50%;
    height: 50%;
}
.work_experience{
    min-height: 300px;
}
.work{
  float: left;
    width: 50%;
    height: 50%;  
}
.work2{
    float: left;
    width: 50%;
    height: 50%;
}
.anything{
    padding: 30px;
    text-align:center;
    background-color:#829e88;
    font-size: italic; 
}
.port {
    min-height: 400px;
    
}
.port h3{
    text-align: center;
    padding: 30px;
}
/*.portfolio,.portfolio1,.portfolio2{
 padding: 30px;   
}

.portfolio1{
    float: left;
    width: 22.22%;
    height: 22.22%; 
}
.portfolio2{
    float: left;
    width: 22.22%;
    height: 22.22%;
 
}
.portfolio3{
    float: left;
    width: 22.22%;
    height: 22.22%;
}*/
img{
    height: 200px;
    width: 200px;
    padding: 30px;
    margin:0 0 0 80px;
} 
.contact{
    min-height: 300px;
    text-align: center;
    background-color: #3f6e30;
    padding: 30px;
    color: white;
}
.tel,.address,.email{
    color: black;
    float: left;
    height: 33.33%;
    width: 33.33%;
}
.contact hr{
    margin: 80px 80px;
}
i{
    padding: 20px;
    color: black;
}



    

